<div id='author-bio'>
  <div class='gravatar'>
    <img src="https://photos.google.com/photo/AF1QipOoHOZGV494McUnnQ66kZNSUrY3ADuG_GtOr3fN">
  </div>

  <div class='bio'>
    Hi, I’m Shantharam Shenoy,
    a software craftsman with over 9 years of experience in shipping complex enterprise applications.
    Having previously worked mainly with Enterprise Integration tools, i have recently made the switch to MEAN Stack as well as IIB.
    I am currently working with <a href="http://www.neutrinos.co/">Neutrinos</a> with a vision to bring idea to life.
    Tweet to me at <a href='https://twitter.com/shantharamksd'>@shantharamksd</a>.
    <br>
    <br>
    <!--div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-about-link' href='/about/'>About</a>
      <a id='bio-resume-link' href='/resume'>Hire me</a>
    </div-->
  </div>
</div>
